---
const media = {
    ig: "",
    tiktok: "",
    fb: "",
}
---

<section>
    <div class="text-xl flex justify-center">
        hola mundodsadsadsadasdsadsadsasadsadsadsadsadsadsadsaassadas
    </div>
</section>