---

---
<div class="counter-box flex flex-col mx-auto text-center">
    <div id="header" class="text-3xl sm:text-4xl md:text-5xl font-bold">Faltan</div>
    <div id="countdown" class="flex flex-wrap justify-center gap-4 sm:gap-6 md:gap-8 lg:gap-4">
        <div class="time-unit flex flex-col items-center">
            <span class="number font-semibold text-2xl sm:text-3xl md:text-3xl lg:text-3xl xl:text-4xl" id="days">00</span>
            <!-- <span class="label text-sm sm:text-base md:text-lg lg:text-xl">días</span> -->
        </div>

    </div>
    <div id="finished" class="hidden text-4xl sm:text-5xl md:text-6xl font-bold neon-text">
        Se acabó el tiempo
    </div>
</div>

<style>
   @keyframes neon {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0 80px #ff00ff;
  }
}

.neon-text {
  color: #fff;
  animation: neon 1.5s ease-in-out infinite alternate;
}
</style>

<script src="../js/timer.js"></script>