---
import Agenda from "./icons/Agenda.astro"

const AGENDA = {
    link: "https://forms.gle/R1V5JdhXKHb5pr3C7"
}

---

<section>
    <div class="flex flex-col gap-2 justify-center items-center">
        <p class="text-[clamp(1.2rem,2vw+0.5rem,2rem)] text-center">¡Agenda tu sesión aquí!</p>
        <div class="icon">
            <a href={ AGENDA.link }><Agenda /></a>
        </div>
        <div class="description"><p>Aplican TyC</p></div>
    </div>
</section>