---
import NextIcon from "./icons/NextIcon.astro";
import PreviewIcon from "./icons/PreviewIcon.astro";

const images = [
    {
        image: '/Slider/1.webp',
        alt: 'image'
    },
    {
        image: '/Slider/2.webp',
        alt: 'image'
    },
    {
        image: '/Slider/3.webp',
        alt: 'image'
    },
    {
        image: '/Slider/4.webp',
        alt: 'image'
    },
    {
        image: '/Slider/5.webp',
        alt: 'image'
    },
    {
        image: '/Slider/6.webp',
        alt: 'image'
    },
    {
        image: '/Slider/7.webp',
        alt: 'image'
    },
    {
        image: '/Slider/8.webp',
        alt: 'image'
    },
];

--- 


<div class="w-full relative slider rounded-2xl">
    <div class="carousel rounded-box ">
    {
        images.map(({ image, alt }, index) =>(
        <div id={`item${index + 1}`} class="carousel-item w-full">
            <img class="w-full object-cover select-none" src={ image } alt={ alt }/>
        </div>
        ))
    }
        
    </div>
    <div class="buttons">
        <button id="prev"><PreviewIcon /></button>
        <button id="next"><NextIcon /></button>
    </div>
    <div class="dots">
  
        <a href="#item1" class="active"  ></a>
    
        {
            images.slice(1, images.length ).map((_, index) =>(

                <a href={`#item${index + 2}`} ></a>
     
            ))
        }
    </div>
</div>

<style>

    .carousel-item {
      box-sizing: content-box;
      display: flex;
      flex: none;
      scroll-snap-align: start;
    }
    .carousel-start .carousel-item {
      scroll-snap-align: start;
    }
    .carousel-center .carousel-item {
      scroll-snap-align: center;
    }
    .carousel-end .carousel-item {
      scroll-snap-align: end;
    }

    .carousel {
      display: inline-flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .carousel::-webkit-scrollbar {
      display: none;
    }

    .slider .buttons{
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .slider .buttons button{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #fff5;
        color: #fff;
        border: none;
        font-family: monospace;
        font-weight: bold;
    }
    .slider .dots{
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #fff;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .slider .dots a{
        cursor: pointer;
        list-style: none;
        width: 10px;
        height: 10px;
        background-color: #fff;
        margin: 10px;
        border-radius: 20px;
        transition: 0.5s;
    }
    .slider .dots a.active{
        width: 30px;
    }



/* Pantalla 1024px */
@media (max-width: 1024px) {
    .slider .buttons button {
        width: 35px;
        height: 35px;
    }

    .slider .dots a {
        width: 8px;
        height: 8px;
        margin: 8px;
    }

    .slider .dots a.active {
        width: 25px;
    }
}

/* Pantalla 768px */
@media (max-width: 768px) {
    .slider .buttons button {
        width: 30px;
        height: 30px;
    }

    .slider .dots a {
        width: 7px;
        height: 7px;
        margin: 7px;
    }

    .slider .dots a.active {
        width: 20px;
    }
}

/* Pantalla 425px */
@media (max-width: 425px) {


    .slider .buttons button {
        width: 25px;
        height: 25px;
    }

    .slider .dots a {
        width: 6px;
        height: 6px;
        margin: 5px;
    }

    .slider .dots a.active {
        width: 15px;
    }
}

/* Pantalla 320px */
@media (max-width: 320px) {


    .slider .buttons button {
        width: 20px;
        height: 20px;
    }

    .slider .dots a {
        width: 5px;
        height: 5px;
        margin: 4px;
    }

    .slider .dots a.active {
        width: 12px;
    }
}

</style>

<script src="../js/slider"></script>