---
import Instagram from './icons/Instagram.astro';

type TEAM = {
    name: string,
    charge: string,
    image: string,
    description: string,
    link: string
}

const team: TEAM[] = [
    {
        name: "Edmi",
        charge: 'Caballero',
        image: '/Team/perra.jpeg',
        description: "",
        link: "https://www.instagram.com/edmiphoto/"
    },
    {
        name: "Pacho Velandia",
        charge: 'Caballero',
        image: '/Team/Pacho.webp',
        description: "Pacho Velandia, apasionado fotógrafo de cosplay, combina talento y profesionalismo, logrando imágenes que reflejan la autenticidad y el esfuerzo de cada cosplayer.",
        link: "https://www.instagram.com/pacho.inc/"
    },
    {
        name: "Luisfer",
        charge: 'Caballero',
        image: '/Team/perra.jpeg',
        description: "",
        link: "https://www.instagram.com/lf_sickman/"
    },    
    {
        name: "Eclypsso Cosplay",
        charge: "Vídeografia",
        image: "/Team/Eclypsso.webp",
        description: "Eclypsso Films es una productora audiovisual en Bogotá que transforma ideas en experiencias únicas con videoclips y soluciones innovadoras, destacándose por su pasión, creatividad y profesionalismo.",
        link: "https://www.instagram.com/eclypsso.cosplay/"
    },    
    {
        name: "Maka",
        charge: "Staff",
        image: "/Team/Ana.webp",
        description: "",
        link: "https://www.instagram.com/eclypsso.cosplay/"
    },    
]
---
<section style="grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))" class="grid gap-8 justify-center items-center container mx-auto px-5">
    {
        team.map(({ name, charge, image, description, link }) => (
            <article  style={`--bg-image: url('${image}')`} class={`profile-container before:bg-cover before:bg-no-repeat before:bg-center mx-auto`}>
                <div class="profile-wrapper">
                    <div class="profile-card">
    
                    <!-- Profile-Picture -->
                        <img src={ image } alt="profile pics"/>
    
                        <h2 class="font-extrabold text-2xl py-1">{ name }</h2>
                        <h4 class="font-semibold text-xl text-white/50">{ charge }</h4>
    
                        <p class="font-normal">{ description }</p>
    
                        <!-- Social Icons -->
                        <div >
                            <a href={ link }
                            class:list={["hover:bg-gradient-to-r hover:rounded-full hover:from-violet-400 hover:to-cyan-600",
                            "p-1.5 flex content-center place-content-center m-auto items-center justify-center justify-items-center"
                            ]}
                            >
                                <Instagram class=" " />
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        ))
    }
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</section>


<style>
    /* .profile-container:hover */
    .profile-container {
      width: clamp(  1%, 100%, 400px);
        height: 500px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 12px;
        transition: 1s all ease;
    }
    .profile-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var( --bg-image );
        z-index: -1;
        opacity: 1;
        transition: all .5s ease-in;
    }

    .profile-container:hover:before {
        opacity: 0;
        transition: all .5s ease;
    }


    /* Profile Card Wrapper */
    .profile-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .profile-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #175DEE 0%, #9997CD 100%);
        transform: skew(30deg) translateX(125%);
        opacity: 0.9;
        transition: all 0.6s ease;
    }

    .profile-wrapper::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #175DEE 0%, #9997CD 100%);
        transform: skew(30deg) translateX(-125%);
        opacity: 0.9;
        transition: all 0.6s ease;
    }

    .profile-container:hover .profile-wrapper::after {
        transform: skew(30deg) translateX(125%);
        background: linear-gradient(to right, #9997CD 0%, #175DEE 100%);

    }

    .profile-container:hover .profile-wrapper::before {
        transform: skew(30deg) translateX(-125%);
        background: linear-gradient(to right, #9997CD 0%, #175DEE 100%);
    }

    /* Profile Card */
    .profile-card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 10px;
        position: relative;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .profile-container:hover .profile-card {
        opacity: 1;
        transition: all 0.6s ease;
        transition-delay: 0.2s;
    }

    /* Profile Picture */
    .profile-card img {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 165px;
        height: 165px;
        object-fit: cover;
        border-radius: 50%;
        margin: 1rem 0;
        border: 4px solid transparent;
        background-image: linear-gradient(white, white),
            linear-gradient(to right, #FF4F9B, #FF6980);
        background-origin: border-box;
        background-clip: content-box, border-box;
        /* border: 2px solid #1999; */
    }

    .profile-card h2 {
        line-height: 1.2;
        color: white;
    }

    .profile-card h4 {
        line-height: 1.5;
    }

    .profile-card p {
        line-height: 1.2;
        color: white;
        margin: 10px 12px;
    }

    /* Profile Icons */
    /* .profile-card .icons {
        display: flex;
        color: #333;
        width: 90%;
        justify-content: space-evenly;
        font-size: 1.4rem;
        margin: 5px 0;
    } */

    /* .profile-card .icons a:hover {
        background-image: linear-gradient(to right, #bb47d4 0%, #2371ae 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    } */

    /* Profile Button */
    /* .profile-card svg {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        padding: 8px 20px;
        margin-top: 1rem;
        background: #2371ae;
        border-radius: 50px;
        background: linear-gradient(to right, #bb47d4 0%, #2371ae 100%);
    } */
</style>