---

---

<article class="flex flex-col justify-center items-center">
    <div class="text-3xl font-bold text-blue-500 m-6">
        <p>Somos</p>
    </div>
    <div class="text-xl [&>p]:mb-5 [&>p]:px-10 [&>p>strong]:text-blue-500 order-2 md:order-1">
        <p>
            <strong>Las Cámaras del Dragón</strong> es un proyecto fotográfico sin precedentes, concebido para destacar un aspecto fundamental del mundo del cosplay: <strong>la fotografía.</strong> En un solo evento, el Salón del Ocio y la Fantasía (SOFA), reunimos a los más apasionados y talentosos fotógrafos del país para capturar la esencia del cosplay y hacer que cada modelo brille con luz propia.
        </p>
        <p>
            Este proyecto no solo busca celebrar la creatividad y el arte del cosplay, sino también reconocer <strong>la labor incansable de los fotógrafos</strong> que, con su lente, logran inmortalizar personajes y emociones en cada toma. A través de sesiones fotográficas en vivo y exhibiciones de las obras realizadas, <strong>Las Cámaras del Dragón</strong> ofrece una experiencia visual única para cosplayers y fotógrafos, <strong>desde los más novatos hasta los más experimentados.</strong>
        </p>
        <p>
            Nuestro objetivo es expandir este proyecto más allá de SOFA, impactando profundamente en la <strong>comunidad cosplay de Colombia y llevando esta experiencia a diferentes ciudades del país.</strong> Con la mirada puesta en el futuro, buscamos atraer el apoyo de marcas que compartan nuestra pasión y deseen unirse a nosotros en la celebración del arte y la fotografía cosplay.
        </p>
    </div>
</article>